* {
    padding: 0;
    margin: 0;

}
#colorMode {
    position: absolute;
    top:-40px;
    left:-40px;
    
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
    background-color: var(--bubbleColor);
    color: var(--bgColor);

    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    transition: color 500ms ease-in-out;
}
body {
    transition: color 500ms ease-in-out, background-color 300ms ease-in-out;
    background-color: var(--bgColor);
    font-family: 'Poppins', sans-serif;
    color: var(--fontColor)
}
#tot {
    background-color: var(--bgPanelColor);
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    gap: 5rem;
    /* box-shadow: 0px 0px 10px var(--shadow); */
    border-radius: 40px;

    width: 800px;
    height: 500px;
    
    margin: 0 auto;
}
.title {
    width: 50px;
    margin: 10px auto;
    color: var(--bgFont);
}
input:not(.maxVal, .axis) {
    font-size: 30px;
    text-align: center;
    
    max-width: 100px;
    height: 40px;

    border: 1px solid gray;
    color: var(--fontColor);
}

/* //////////// NUMBERS /////////// */

.numbers {
    font-size: 40px;
    
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}
.inp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.inp input {
    background-color: var(--boxColor);

}

/* //////////// AXIS /////////// */

.slider {
    width: 700px;
}
.axis {
    /* appearance: none; */
    width: 700px;
}


/* .slider {
    width: 700px;
}
.pointer {
    position: relative;
    width: 20px;
}
.pointerContainer {
    position: relative;
}
.dobi {
    border: none;
    width: 70px;
    margin-top: 6px;
    
    background: none;
    text-align: center;
    font-size: 17px;
    color: white;
} */

.pointerValue {
    position: absolute;
    
    width: 70px;
    height: 30px;
    margin-top: 10px;
    margin-left: -30px;

    
    background: var(--bgColor);
    border-radius: 5px;
}
.axis {
    width: 680px;
    height: 10px;

    background: linear-gradient(to right,red, green);
    border-radius: 2px;

    margin: 0 auto;
}

.sliderValues {
    display: flex;
    justify-content: space-between;

    font-size: 20px;
}
.maxVal {
    font-size: 20px;
    background-color: white;
    text-align: center;

    width: 70px;
    height: 30px;

    margin-top: 3px;

    border: 1px solid black;
}

/* //////////// HOLDINGS /////////// */
.hold {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.holdings {
    font-size: 40px;

    margin-top: 50px;
}
.holdings input {
    max-width: 200px;

}

.light {
    --bgColor: #dee2e6;
    --bgPanelColor: #adb5bd;
    --fontColor: #212529;
    --bubbleColor: #212529;

    --bgFont: #212529;
}
.dark {
    --bgColor: #212529;
    --bgPanelColor: #495057;
    --bubbleColor: #a7afb8;
    --fontColor: #dee2e6;
    --bgFont: var(--fontColor);
    --shadow: #b8f2e6;

}
