* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
#tot {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    gap: 5rem;
    box-shadow: 0px 0px 16px rgb(209, 209, 209);
    border-radius: 10px;

    width: 800px;
    height: 500px;
    
    margin: 0 auto;
}
.title {
    width: 50px;
    margin: 10px auto;
}
input:not(.dobi, .end) {
    font-size: 30px;
    text-align: center;
    
    max-width: 100px;
    height: 40px;

    border: 1px solid gray;
}

/* //////////// NUMBERS /////////// */

.numbers {

    font-size: 40px;
    
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}
.inp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

/* //////////// AXIS /////////// */

.slider {
    width: 700px;
    

}
.pointer {
    position: relative;
    width: 20px;
}
.pointerContainer {
    position: relative;
}
.dobi {
    border: none;
    width: 70px;
    margin-top: 6px;
    
    background: none;
    text-align: center;
    font-size: 17px;
    color: white;
}
.pointerValue {
    position: absolute;
    
    width: 70px;
    height: 30px;
    margin-top: 10px;
    margin-left: -27px;

    
    background: #0d9e97;
    border-radius: 5px;
}
.axis {
    width: 680px;
    height: 5px;

    background: linear-gradient(to right,red, green);
    border-radius: 2px;

    margin: 0 auto;
}

.values {
    display: flex;
    justify-content: space-between;

    font-size: 20px;
}
.end {
    font-size: 20px;
    background-color: white;
    text-align: center;

    width: 70px;
    height: 30px;

    margin-top: 3px;

    border: 1px solid black;
}

/* //////////// HOLDINGS /////////// */
.hold {
    display: flex;
    flex-direction: row;
}

.holdings {
    font-size: 40px;

    margin-top: 50px;
}
.holdings input {
    max-width: 200px;

}